*.elc
/url
/data
/el-get
/.org-id-locations
/org-clock-save.el
/custom.el
/tramp
TAGS
/secrets.el
/elpa
.yas-compiled-snippets.el
.yas-bundled-snippets.el
/.mc-lists.el
/ac-comphist.dat
/eshell/history
